<section id="intro">

    <div class="intro-content">
        <h2>Tu mejor <span>sonrisa</span><br>nustra mayor felicidad.</h2>
        <div>
            <a href="#about" class="btn-get-started scrollto">Ingresar</a>
            <a href="#portfolio" class="btn-projects scrollto">Hacerca de dentist care</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('assets/img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('assets/img/intro-carousel/5.jpg');"></div>
    </div>

</section>